.botoes {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.imagem{
    border-radius: 30px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: black;
    font-size: 15px;
    padding: 10px;
    !nada nao
}
& button:hover {
    opacity: 0.8;
}

.Centro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.introducao {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin: 50px;
    font-size: 20px;
}

.esquerda {
    background-color: gray;
    font-size: 10px;
    width: 255px;
    height: 10%;
}