.botoes {
    width: 100%;
    margin: 0 auto;
    margin: 30px;
}
button {
    border-radius: 30px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    height: 40px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: black;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 1%;
}
& button:hover {
    opacity: 0.8;
}

.Centro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.titulo {
    
}